/* Add styles here */

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #8a6000, #03083e, #3a2d03, #200298);
    background-size: 300% 300%;
    /*animation: gradientAnimation 15s infinite alternate;*/
}

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .card {
    position: relative;
    width: 350px;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 20px;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card .circle::before {
    content: "";
    position: absolute;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #000000;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) 
            drop-shadow(0 0 60px var(--clr));
    transition: all 0.5s ease;
}


.card:hover .circle::before{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
}
.card .circle .logo {

    position: absolute;
    width: 350px;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
    z-index: 10;
    border-radius: 50%; 
    overflow: hidden; 
}

.card .circle .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: all 0.6s ease;
}

.card .circle .logo {
    transform: scale(1) translatex(0, 0);
}
.card:hover .circle .logo  {
    transform: scale(0.5) translate(0%, -160%); transition: 1s;
}

.card .content {
    right: -24%;
    top: 5%;
    position: absolute;
    width: 100%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease; 
    visibility: hidden;
    transform: translateY(40%);
}
.card:hover .content {
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.card .content h2 {
    font-weight: 700;
    text-align: left;
    background: linear-gradient(45deg, #5600eb, #776005, #624b05, #7d5505);
background-size: 400% 400%;
   /* animation: gradientAnimation 15s infinite alternate;*/
-webkit-background-clip: text;
background-clip: text;
color: transparent;
    text-transform: capitalize;
    font-size: 3rem;
    margin-left: auto;
    font: bold;
    font-family: 'Cairo', sans-serif;
}


.card .doda {
    width: 310px;
    right: 0%;
    top: 20%;
    position: absolute;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    visibility: hidden;
    z-index: 0;
    transform: translateY(40%);
}
.card:hover .doda {
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.card .doda p{
    
    flex-grow: 1;
    text-align: center;
    background: linear-gradient(35deg, #eba500, #978d08, #400790, #3404f3);
    background-size: 400% 400%;
    /*animation: gradientAnimation 15s infinite alternate;*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
    font-size: 1.7rem;
    margin-left: auto;
}

.arabic-text {
    font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    direction: rtl;
   
    padding: 15px;
    border-radius: 10px;
}
.card:hover .tir {
    top: 45px;    transition-delay: 0.3s;    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(78%, 192%); /* تحريك 40% لليمين و 170% لتحت */
}
.card a {
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    font-size: 20px;
    position: relative;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 225, 0, 0.133);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(167, 136, 15, 0.369);
    padding: 10px 20px;
    border-radius: 10px;
    display: table-column-group;
    text-decoration: none;
    
    margin-top: 20px;
    width: 150px;
    /* تمتد لعرض .tir */
    box-sizing: border-box; /* تضمن حساب padding ضمن العرض */
    text-align: center; /* محاذاة النص */
    white-space: nowrap;
    background: rgba(48, 5, 128, 0.321) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/
}
.card a:hover {
    transform: translateY(-5px);
}


.card .tir {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    min-width: max-content;
    top: -13%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

/*.card a span {
    flex-grow: 1;
            text-align: left;
    background: linear-gradient(45deg, #eba500, #051077, #624b05, #3404f3);

    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 15s infinite alternate;
}*/

.card a i {
    flex-grow: 1;
    text-align: left;
background: linear-gradient(45deg, #c68d09, #a59b0a, #a57f0b, #b28509);
background-size: 400% 400%;
   /* animation: gradientAnimation 15s infinite alternate;*/
-webkit-background-clip: text;
background-clip: text;
color: transparent;
    font-size: 20px;
            margin-left: 0px;
   
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.card:hover .ttoo {
    top: 45px;
    transition-delay: 0.3s;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(-155%, -23%); /* تحريك 40% لليمين و 170% لتحت */
}
.card .ttoo{
    position: absolute;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
    min-width: max-content;
    top: -13%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(5%);
}

.card .gg{
    text-align: center;
    font-family: "El Messiri", sans-serif;
    position: absolute;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
    min-width: max-content;
    top: -13%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(50%);
}

.card:hover .gg{
    text-align: center;
    font-family: "El Messiri", sans-serif;
    top: 45px;
    transition-delay: 0.3s;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(77%, -160%); /* تحريك 40% لليمين و 170% لتحت */
}


/*.card .gg a {
    text-align: center;
    font-family: "El Messiri", sans-serif;
}*/
